.venv/
__pycache__/
*.pyc
*.db
.env
.pytest_cache/
.DS_Store
smartshop.db
app/frontend/node_modules/
app/frontend/dist/
# app/static/dist/  # Inclure les fichiers compilés pour Railway
smartshop-whatsapp/
